[submodule "preference-learning-from-selection"]
	path = personalization/src/preference-learning-from-selection
	url = git@github.com:ndennler/preference-learning-from-selection.git

[submodule "sound-effect-library"]
	path = stimuli/auditory/sound-effect-library
	url = git@github.com:ndennler/sound-effect-library.git

[submodule "mp4_autoencoder"]
	path = stimuli/visual/mp4_autoencoder
	url = git@github.com:Dzeng401/mp4_autoencoder.git
