[submodule "personalization/src/preference-learning-from-selection"]
	path = personalization/src/preference-learning-from-selection
	url = git://github.com/ndennler/preference-learning-from-selection.git
